 <!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>New comment to "So and so"</h1>
     <small>
       By: Guess Who
     </small>
     <p>
       Stuff
     </p>
     <p>
       MOre stuff
     </p>
   </body>
 </html>